@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family:'Poppins', sans-serif;
    background-color: #d3d1d1;
}



.text-page-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-page {
    width: 30%;
    height: 20%;
    border: 3px solid rgb(162, 165, 168);
    background-color: aliceblue;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2em;
}
 
h1 {
    text-align: center;
}

p {
    font-size: 90%;
}

.btn_paginainicial_style {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    background-color: #555555;
    color: #ffffff;
}