@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family:'Poppins', sans-serif;
    background-color: #d3d1d1;
}



.text-page-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-page {
    width: 40%;
    height: 40%;
    border: 3px solid rgb(162, 165, 168);
    background-color: aliceblue;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}
 
h1 {
    text-align: center;
}

p {
    font-size: 90%;
}
