@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family:'Poppins', sans-serif;
}
.topo {
    height: 50vh;
    background-color: #b0adad;
    transition: 1s ease-out;
}

.topo:hover {
    background-color: rgb(255, 255, 255);
}

.header-menu-wrapper {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo {
    width: 80%;
}

.text-header-wrapper{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.boxes {
    width: 100%;
    height: 10vh;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.home-wrapper {
    background-color: rgb(255, 144, 47);
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
    border: 4px solid rgb(255, 144, 47);
    border-radius: 15px;
    transition: all 1s ease;
}

.home-wrapper:hover{
    background-color: rgb(149, 84, 27);
    border: 4px solid rgb(149, 84, 27);
}

.icon-home {
    width: 10%;
}


.link-home {
    justify-content: center;
    display: flex;
    width: 100%;
}

.column1-wrapper {
    margin-top: 10px;
    background-color: rgb(255, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 4px solid rgb(255, 47, 47);
    border-radius: 15px;
    transition: all 1s ease
}

.column1-wrapper:hover {
    background-color: rgb(119, 41, 41);
    border: 4px solid rgb(119, 41, 41);
}

.column2-wrapper {
    margin-top: 10px;
    background-color: #ff2fff;
    display: flex;
    justify-content: center;
    height: 100%;
    border: 4px solid #ff2fff;
    border-radius: 15px;
    transition: all 1s ease;
}

.column2-wrapper:hover {
    background-color: #911f91;
    border: 4px solid #911f91;
}

.column3-wrapper {
    margin-top: 10px;
    background-color: rgb(85, 255, 47);
    display: flex;
    justify-content: center;
    height: 100%;
    border: 4px solid rgb(85, 255, 47);
    border-radius: 15px;
    transition: all 1s ease;
}

.column3-wrapper:hover {
    background-color: rgb(58, 162, 35);
    border: 4px solid rgb(58, 162, 35);
}

.boxes-column1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}


.boxes-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    margin-top: 1%;
}

.wrapper-seta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.setadown {
    padding-top: 2%;
}

.seta {
    width: 60%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}



footer{
    width: 100%;
    height: 100%
}



.rodape {
    display: flex;
    background-color: #b0adad;
    padding-left: 10px;
}

