@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family:'Poppins', sans-serif;
}
.topo {
    height: 50vh;
    background-color: #d9923b;
    transition: 1s ease-out;
}

.topo:hover {
    background-color: rgb(243, 243, 243);
}

.header-menu-wrapper {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo {
    width: 80%;
}

.text-header-wrapper{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.boxes {
    width: 100%;
    height: 10vh;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.home-wrapper {
    background-color:  #a66329;
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
    border: 4px solid #a66329;
    border-radius: 15px;
    transition: all 1s ease;
}

.home-wrapper:hover{
    background-color: #c38147;
    border: 4px solid #c38147;
}

.icon-home {
    width: 10%;
}


.link-home {
    justify-content: center;
    display: flex;
    width: 100%;
}

.column1-wrapper {
    margin-top: 10px;
    background-color: #ffdb58;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 4px solid #ffdb58;
    border-radius: 15px;
    transition: all 1s ease
}

.column1-wrapper:hover {
    background-color: #f3dd8d;
    border: 4px solid #f3dd8d;
}

.column2-wrapper {
    margin-top: 10px;
    background-color: rgb(183, 110, 89);
    display: flex;
    justify-content: center;
    height: 100%;
    border: 4px solid rgb(183, 110, 89);
    border-radius: 15px;
    transition: all 1s ease;
}

.column2-wrapper:hover {
    background-color: rgb(132, 81, 66);
    border: 4px solid rgb(132, 81, 66);
}

.column3-wrapper {
    margin-top: 10px;
    background-color: #46788C;
    display: flex;
    justify-content: center;
    height: 100%;
    border: 4px solid #46788C;
    border-radius: 15px;
    transition: all 1s ease;
}

.column3-wrapper:hover {
    background-color: #5d98af;
    border: 4px solid #5d98af;
}

.boxes-column1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}


.boxes-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    margin-top: 1%;
}

.wrapper-seta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.setadown {
    padding-top: 2%;
}

.seta {
    width: 60%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}



footer{
    width: 100%;
    height: 100%;
}



.rodape {
    display: flex;
    background-color: #d9923b;
    padding-left: 10px;
}