.topo {
    background-color: aquamarine;
}
.header-menu-wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 80%;
}

.text-header-wrapper{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}