@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family:'Poppins', sans-serif;
}
.topo {
    height: 50vh;
    background-color: #d3d1d1;
    transition: 1s ease-out;
}

.topo:hover {
    background-color: rgb(255, 255, 255);
}

.header-menu-wrapper {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo {
    width: 80%;
}

.text-header-wrapper{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.boxes {
    width: 100%;
    height: 10vh;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.home-wrapper {
    background-color: rgb(255, 144, 47);
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
    border: 4px solid rgb(255, 144, 47);
    border-radius: 15px;
}

.icon-home {
    width: 10%;
}


.link-home {
    justify-content: center;
    display: flex;
    width: 100%;
}

.column1-wrapper {
    margin-top: 10px;
    background-color: rgb(255, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 4px solid rgb(255, 47, 47);
    border-radius: 15px;
}

.column2-wrapper {
    margin-top: 10px;
    background-color: rgb(255, 47, 255);
    display: flex;
    justify-content: center;
    height: 100%;
    border: 4px solid rgb(255, 47, 255);
    border-radius: 15px;
}

.column3-wrapper {
    margin-top: 10px;
    background-color: rgb(85, 255, 47);
    display: flex;
    justify-content: center;
    height: 100%;
    border: 4px solid rgb(85, 255, 47);
    border-radius: 15px;
}

.boxes-column1 {
    width: 15%;
    padding-top: 40px;
    height: 8vh;
}

.boxes-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


