@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family:'Poppins', sans-serif;
}
.topo {
    height: 50vh;
    background-color: rgb(211, 209, 209);
    transition: 1s ease-out;
}

.topo:hover {
    background-color: rgb(255, 255, 255);
}

.header-menu-wrapper {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo {
    width: 80%;
}

.text-header-wrapper{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.boxes {
    width: 100%;
    height: 10vh;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.home-wrapper {
    background-color: rgb(255, 144, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border: 4px solid rgb(255, 144, 47);
    border-radius: 15px;
}

.icon-home {
    width: 10%;
}